<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.cat.model.mypet.mapper.PetMapper">

    <resultMap id="BaseResultMap" type="com.self.cat.model.mypet.domain.Pet">
            <id property="id" column="id" />
            <result property="petName" column="pet_name" />
            <result property="petAge" column="pet_age" />
            <result property="petType" column="pet_type" />
            <result property="petVariety" column="pet_variety" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,pet_name,pet_age,pet_type,pet_variety,create_time,
        update_time
    </sql>
</mapper>
